* {
    box-sizing: border-box;
}

div.pavadinimas {
    border: 2px solid black;
    padding: 25px;
    background: images/header.jpg;
    background-repeat: no-repeat;
    background-size: auto;
  }